@model ContactViewModel

@{
    ViewBag.Title = "Edit Contact";
    Layout = "_Layout";
}

<div id="contact-form">
    
    <div class="container-fluid">

        <h2>@ViewBag.Title</h2>

        <form asp-controller="Contact" , asp-action="Edit" asp-antiforgery="true">
            <partial name="_CreateOrEditContact"/>
        </form>
    
        <partial name="_AddContactTemplate"/>
    </div>
</div>